In [1]:
import pandas as pd

In [4]:
s1 = pd.Series([1, 4, 2, 3, 5], index=[1, 3, 5, 7, 9])
s2 = pd.Series([8, 1, 7, 3, 9], index=[1, 2, 3, 5, 10])
print(s1)
print("-"*20)
print(s2)

1    1
3    4
5    2
7    3
9    5
dtype: int64
--------------------
1     8
2     1
3     7
5     3
10    9
dtype: int64

![](./pic/pandas/series_add.png)

In [5]:
s3 = s1.add(s2, fill_value=0)
print(s3)

1      9.0
2      1.0
3     11.0
5      5.0
7      3.0
9      5.0
10     9.0
dtype: float64

![](./pic/pandas/series_add2.png)

In [6]:
s3 = s1.sub(s2, fill_value=0)
print(s3)

1    -7.0
2    -1.0
3    -3.0
5    -1.0
7     3.0
9     5.0
10   -9.0
dtype: float64

In [7]:
s3 = s1.mul(s2, fill_value=1)
print(s3)

1      8.0
2      1.0
3     28.0
5      6.0
7      3.0
9      5.0
10     9.0
dtype: float64

In [8]:
s3 = s1.div(s2, fill_value=1)
print(s3)

1     0.125000
2     1.000000
3     0.571429
5     0.666667
7     3.000000
9     5.000000
10    0.111111
dtype: float64

In [9]:
print(s1.max())
print(s1.min())
print(s1.sum())
print(s1.mean())

5
1
15
3.0

In [10]:
# Series的详细信息
s1.describe()

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

In [11]:
scores = pd.Series([92, 67, 70, 88, 76], index=["小明", "小红", "小杰", "小丽", "小华"])
print(scores)

小明    92
小红    67
小杰    70
小丽    88
小华    76
dtype: int64

In [12]:
def get_grade_from_score(score):
    if score >= 90:
        return "A"
    elif score >= 80:
        return "B"
    elif score >= 70:
        return "C"
    else:
        return "D"
# apply方法，把score中的每一个元素都送入函数中
grades = scores.apply(get_grade_from_score)
print(grades)

小明    A
小红    D
小杰    C
小丽    B
小华    C
dtype: object

In [13]:
# 使用匿名函数
squared_scores = scores.apply(lambda x: x*x)
print(squared_scores)

小明    8464
小红    4489
小杰    4900
小丽    7744
小华    5776
dtype: int64